.footer {
    color : blue;
    background-color: rgba(127,127,127,0.5);
    /*padding: 10px, 40px, 10px; */
    position: fixed;
    bottom: 0;    

    width: 100%;
    height: 50px;

}

.footer p{
	margin-top : 1%;
}

.filters{
	width:20%;
}

.notDisplayed {
	display: none;
    visibility: hidden;
}

.header{
	position: absolute;
	z-index: 30;
	width:100%;
	height:8%;	
	
}

.header .filters{
	z-index: 30;
	background-color: rgba(255,255,255,0.7);	
}

.header .filters button{
	margin-top: 0%;
}

.nav-background{
	width:100%;
	background-color:#1B75BB;
	opacity:.75;
	height:100%;
	position:absolute;
	z-index:31;
}

.searchButton{
	height:80%;
	right:1%;
	top:10%;
	position:absolute;
	z-index:40;
	font-size:100%;
}

.form-control{
	width:20%;
	height:80%;
	top:10%;
	position:absolute;
	z-index:40;
	right: 8%;
}
#title-image{
	height:80%;
	position:absolute;
	z-index:40;
	left:1%;	
	top:15%;
}

#filter-image{
	height:65%;
	position:absolute;
	z-index:50;
	right:29%;
	top:15%;
	opacity:.5;	
}

.filter-open{
	transform:scale(-1,-1);

}

.filter-background{
	height:350%;
	width:43%;
	top:15%;
	position:absolute;
	z-index:45;
	right:1%;
	background-color:white;
	opacity:.95;

}

.filter-in{
	height:100%;
	width:50%;
	position:absolute;
	z-index:47;
}

.filter-table{
	font-size: 13px;
	height:80%;
	width:100%;
}

.clearButton{
	height:20%;
	width:25%;
	bottom:1%;
	right:30%;
	position:absolute;
}

.filter-search{
	height:20%;
	width:26%;
	bottom:1%;
	right:1%;
	position:absolute;
}

