.slider-panel{
	height:100%;
	width:50%;
	left:0px;
	top:8%;
	z-index:10;
	position:absolute;
	background-color:white;
	opacity:.7;
	overflow-y:auto;
}


.map-panel{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	position:fixed;
}

#map-canvas{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	right:0px;
	z-index:-1;
	position:absolute;	
}

html, body{
	height:100%;
}

#slider-arrow{
	background-color:white;
	height:40px;
	width:30px;
	z-index:10;
	top:30%;
	left:0%;
	position:absolute;
	opacity:.75;
}

.slider-open{
	transform:scale(-1,1);
}

.searchResults{
	width: 50%;
}
#panel-content{
	height:100%;
	width:100%;
	left:0px;
	z-index:11;
	position:abolute;
}

